# Node
node_modules
dist

# OS
.DS_Store

# Build
server/public
*.tar.gz

# Replit backups
.git.backup.*

# Vite backup files
vite.config.ts.*

# ENV files (САМЫЙ ВАЖНЫЙ БЛОК)
.env
.env.local
.env.*
.env.development
.env.production
.env.test

# Generated account files
/generated_accounts.*
*passwords*
